@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

// Import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// import slick carousel
@import "../lib/slick/slick";
@import "../lib/slick/slick-theme";


//@font-face {
//    font-family: "Vazir";
//    src: url("../../fonts/Vazir.eot");
//    /* IE9 Compat Modes */
//    src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
//    url("../../fonts/Vazir.woff2") format("woff2"),
//    url("../../fonts/Vazir.woff") format("woff"),
//    url("../../fonts/Vazir.ttf") format("truetype");
//    /* Safari, Android, iOS */
//}
@font-face {
    font-family: "Yekan";
    src: url("../fonts/Yekan.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Yekan.woff") format("woff"),
    url("../fonts/Yekan.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    direction: rtl;
    text-align: right !important;
    font-family: "Yekan" !important;
}

a {
    text-decoration: none !important;

}

.bg-navbar {
    background-color: #3f54a0 !important;
}

.bg-header {
    background-color: #00514a !important;
}

.btn-product {
    background-color: #695cf9 !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.card-slick {
    width: 80%;

}

.slick-carousel {
    width: 90%;
    text-align: center !important;
}

@media (min-width: 576px) {
    .slick-carousel {
        width: 60%;
    }
}

@media (min-width: 1200px) {

    .top-circle {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #5552FB;
        z-index: 0;
        opacity: 1 !important;
        position: absolute;
        top: 100px;
        right: 330px;
    }
    .bottom-circle {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: #DAD8FF;
        z-index: -1;
        opacity: 1 !important;
        position: absolute;
        bottom: 100px;
        left: 270px;
    }
    .half-circle {
        border-bottom-left-radius: 100%; /* 100px of height + 10px of border */
        border-bottom-right-radius: 100%; /* 100px of height + 10px of border */
        border-top: 0;
        background-image: linear-gradient(#ffff, #F2F5FA);
        position: relative;
        background-size: 100% auto;
        height: 700px;
        z-index: 1;
        //padding-bottom: 60px;
        margin-bottom: 30px;
    }
}

.radius-video {
    border-radius: 10px;
}

.aparat-icon {
    display: inline !important;
    color: #695cf9;
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(45%) sepia(68%) saturate(6406%) hue-rotate(234deg) brightness(104%) contrast(95%);
}

.slick-prev:before {
    color: #bcbcbc;
}

.slick-next:before {
    color: #bcbcbc;
}

.section-video a {
    color: gray !important;
}

.home-hr-text {
    max-width: 70%;
    margin: 40px auto;
    line-height: 0em;
    outline: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    height: 1.5em;

}

.home-hr-text::before,
.home-hr-text::after {
    content: "";
    display: block;
    height: 1px;
    padding: 0 .5em;
    line-height: 1.5em;
    background: linear-gradient(to right, transparent, #818078, transparent);
}

.btn-article {
    position: relative;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    color: white;
    background-color: green;
}

.btn-article:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-article:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-article::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-article::after {
    background-color: green;
}

.btn-article:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.home-hr-text-green {
    max-width: 70%;
    margin: 40px auto;
    line-height: 0em;
    outline: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    height: 1.5em;

}

.home-hr-text-green::before,
.home-hr-text-green::after {
    content: "";
    display: block;
    height: 1px;
    padding: 0 .5em;
    line-height: 1.5em;
    background: linear-gradient(to right, transparent, green, transparent);
}
